.logo {
    width: 114px;
    height: 43px;
    padding: 13px 0 13px 0;
    background-color: transparent;
    margin-bottom: 20px;
}

.logoImage {
    width: 114px;
    height: auto;
    color: #181818;
}